.texto{
  width: 95%;
  margin-left: 2.5%;
  margin-top: 1%;
  padding: 2%;
  border-width: 2px;
  border-color: lightgrey;
  border-style: solid;
  border-radius: 10px;
}

.card-task{
  border-radius: 30px !important;
  margin-left: 5%;
  margin-top: 1%;
  padding: 2%;
  width: 90%;
}

.centro{
  width: 20%;
  margin-left: 40%;
}

